<% span_id="like_#{likeable.class.to_s.downcase}_#{likeable.id}" %>
<span id="<%= span_id %>">
  <%- if current_user.like? likeable -%>
    <%= unlike_link_for likeable.liked_by(current_user) %>
  <%- else -%>
    <%= like_link_for likeable %>
  <%- end -%>
</span>