// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-item {
  position: relative;
  border-bottom: 1px solid #dddddd;
  padding: 5px 10px;

  p {
    margin-bottom: 0;
  }

  a.remove-sign {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 11px;
  }
}

.new_comment {
  padding: 5px;

  button, textarea {
    vertical-align: middle;
  }

  .field-body {
    margin-right: 35px;

    textarea {
      width: 100%;
    }
  }

  .button-submit {
    float: right;
    width: 30px;
    height: 46px;
  }
}
